<div class="auth__container">
  <div class="auth__header">
    <h1 class="auth__title">Welcome Back</h1>
    <p class="auth__subtitle">Please login to your account</p>
  </div>

  <form [formGroup]="loginForm" class="auth__form">
    <div class="auth__form-group">
      <label for="email" class="auth__label">Email</label>
      <input
       type="email"
       formControlName="email"
        id="email" class="auth__input" placeholder="Enter your email" required />
    </div>

    <div class="auth__form-group">
      <label for="password" class="auth__label">Password</label>
      <input
      formControlName="password"
        type="password"
        id="password"
        class="auth__input"
        placeholder="Enter your password"
        required
      />
    </div>

    <button (click)="onSubmit()" type="submit" class="auth__button">Login</button>
  </form>

  <div class="auth__divider">or</div>

  <div class="auth__links">
    <a href="/register" class="auth__link">Don't have an account? Register</a>
    <a href="" class="auth__home-link">← Back to Home</a>
  </div>
</div>